<!DOCTYPE html>
<html lang="en" ng-app="expenseApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Daily Household Expense</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/expense.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand"><img src="img/coins.png" width="48"/></span><span><a class="navbar-brand" href="#">Household Expense</a></span>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="home.html"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="addexpense.html"><span class="glyphicon glyphicon-edit"></span> Add Expense</a></li>
                <li class="active"><a href="report.html"><span class="glyphicon glyphicon-list-alt"></span> Report</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-right"><a href="login.html"><span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="lead">
        <h1><span class="glyphicon glyphicon-list-alt"></span> Report</h1>

    </div>

    <div ng-controller="ExpenseController as todoList">
    <span class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{todoList.selectedDate | date:'yyyy-MM'}}
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <span ng-repeat="dateElement in todoList.dates">
             <li><a ng-click="todoList.getExpenseByDate(dateElement)"> {{dateElement}}</a></li>
            </span>
        </ul>
    </span>

        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Date</th>
                <th>Category</th>
                <th align="right">Amount (HKD)</th>
            </tr>
            </thead>
            <tr ng-repeat="expense in todoList.expenses">
                <td>{{expense.date | date:'yyyy-MM-dd'}}</td>
                <td>{{expense.category}}</td>
                <td align="right">{{expense.amount | number:2}}</td>
            </tr>
        </table>

    </div>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
